* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  text-align: center;
  font-weight: bold;
}

nav,
section,
main,
aside {
  padding: 24px;
}

nav {
  background-color: #343a40;
  grid-row: 1 / -1;
  color: white;
}

menu {
  background-color: #9775fa;
  color: white;
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
}

button:last-child {
  background-color: #e03131;
  margin-left: auto;
}

section {
  background-color: #e9ecef;
  padding: 40px;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background-color: #868e96;
  flex-shrink: 0;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #e9ecef;
}
