<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700@display=swap"
      rel="stylesheet"
    />
    <title>Omifood Hero Section</title>
    <link rel="stylesheet" href="Hero.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <div class="nav-margin">LOGO</div>
        <div>NAVIGATION</div>
      </nav>

      <div class="header-container">
        <div class="header-container-inner">
          <h1>A healty meal delivered to your door, every single day</h1>
          <p>
            The smart 365-days-per-year food subscription that will make you eat
            healty algain. Tailored to your personal tastes and nutritional
            needs
          </p>
          <a href="#" class="btn">Start eating well</a>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <h2>Some random heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe rerum
          magnam natus, ipsam aut repudiandae repellendus nemo distinctio non
          suscipit aliquid soluta aspernatur magni tempore quos debitis odio
          mollitia excepturi? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Minus natus optio doloremque incidunt consequatur. Nostrum
          laborum doloribus quae odio! Exercitationem harum eius quod.
          Accusantium qui eligendi voluptatum culpa voluptate libero?
        </p>
      </div>
    </section>
  </body>
</html>
