* {
  margin: 0;
  padding: 0;
}

body {
  border-top: 10px solid #1098ad;
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5 {
  color: #1098ad;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h5 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
}

/* div {
  background-color: blue;
  height: 10px;
} */

article {
  margin-bottom: 60px;
}

footer p {
  font-size: 18px;
}

/*we use # for ids*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* we use . for classes */

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}
nav {
  padding: 5px;
}
.main-header {
  background-color: #f7f7f7;
  margin-top: 5px;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-radius: 20px;
  padding: 20px 40px;
  margin-bottom: 50px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-radius: 20px;
  padding: 50px 0;
}

/* chose the first element (pseudo class) */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* we can also use the word odd or even */
li:nth-child(2) {
  color: red;
}

/* styling links */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: gray; */
  color: #1098ad;
}

a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline orange;
}

/* this will work when you click on the link */
a:active {
  background-color: black;
  font-style: italic;
}

/* resolving conflicts */

/*here the all elements select the same target but there's a priorite
inline 0
id 1
 class 2
 normal 3
univers (*) 4
*/
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green; /* we can use also the word important*/
}

nav {
  font-size: 18px;
}

.post-header {
  margin-bottom: 40px;
}
